form,
.form {
  &[data-response-message-animation] {
    &,
    + .response-message {
      transition: transform 0.3s ease-in, opacity 0.3s ease-out;
    }

    &.submitted + .response-message {
      z-index: 1;
      opacity: 1;
      position: relative;
    }

    &.submitted,
    + .response-message {
      opacity: 0;
      position: absolute;
      top: 0;
    }

    + .response-message {
      z-index: -1;
    }
  }

  &[data-response-message-animation='slide-in-up'] {
    &.submitted + .response-message {
      transform: translateY(0);
    }

    &.submitted,
    + .response-message {
      transform: translateY(100%);
    }
  }

  &[data-response-message-animation='slide-in-left'] {
    &.submitted + .response-message {
      transform: translateX(0);
    }

    &.submitted,
    + .response-message {
      transform: translateX(100%);
    }
  }
}
