$app-landing-2-shapes-map: (
  default: (
    (
      top: 0,
      left: 70,
      height: 140,
      width: 400,
    ),
    (
      top: 0,
      left: 65,
      height: 100,
      width: 300,
    ),
    (
      top: 0,
      left: 80,
      height: 200,
      width: 600,
    ),
    (
      top: 82,
      left: 85,
      height: 150,
      width: 150,
    ),
  ),
  md: (
    (
      left: 25,
    ),
    (
      left: 55,
    ),
  ),
  lg: (
    (
      left: 35,
    ),
    (
      left: 45,
    ),
  ),
  xl: (
    (
      left: 45,
    ),
    (
      left: 65,
    ),
  ),
) !default;
