// Color system

// Overwriten Bootstrap
$white: #ffffff !default;
$gray-100: #f9fbfd !default;
$gray-200: #f1f4f8 !default;
$gray-300: #d9e2ef !default;
$gray-400: #c6d3e6 !default;
$gray-500: #abbcd5 !default;
$gray-600: #869ab8 !default;
$gray-700: #506690 !default;
$gray-800: #242526 !default;
$gray-900: #18191a !default;
$almost-black: #111212 !default;
$black: #000 !default;

// MAIN THEME COLORS

$blue: #0d6efd !default;
$indigo: #5533ff !default;
$purple: #6f42c1 !default;
$pink: #f200c2 !default;
$red: #ff0080 !default;
$orange: #ff794f !default;
$yellow: #ffc041 !default;
$green: #00b286 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

// To set Bootstrap color system
$color-primary: $green !default;
$color-secondary: $gray-600 !default;
$color-success: $green !default;
$color-info: $cyan !default;
$color-warning: $yellow !default;
$color-danger: $red !default;
$color-light: $gray-100 !default;
$color-dark: $gray-900 !default;
$color-darker: $black !default;

// [ SOCIAL COLORS ]
$facebook: #3b5998 !default;
$google: #dd4b39 !default;
$gplus: #dd4b39 !default;
$twitter: #00aced !default;
$linkedin: #007bb6 !default;
$pinterest: #cb2027 !default;
$git: #666666 !default;
$tumblr: #32506d !default;
$vimeo: #aad450 !default;
$youtube: #bb0000 !default;
$flickr: #ff0084 !default;
$reddit: #ff4500 !default;
$dribbble: #ea4c89 !default;
$skype: #00aff0 !default;
$instagram: #dd2a7b !default;
$lastfm: #c3000d !default;
$soundcloud: #ff8800 !default;
$behance: #1769ff !default;
$envato: #82b541 !default;
$medium: #00ab6c !default;
$spotify: #1db954 !default;
$quora: #a82400 !default;
$xing: #026466 !default;
$snapchat: #fffc00 !default;
$telegram: #0088cc !default;
$whatsapp: #075e54 !default;
$rss: #f26522 !default;

$brand-colors: (
  'facebook': $facebook,
  'google': $google,
  'gplus': $gplus,
  'twitter': $twitter,
  'linkedin': $linkedin,
  'pinterest': $pinterest,
  'git': $git,
  'tumblr': $tumblr,
  'vimeo': $vimeo,
  'youtube': $youtube,
  'flickr': $flickr,
  'reddit': $reddit,
  'dribbble': $dribbble,
  'skype': $skype,
  'instagram': $instagram,
  'lastfm': $lastfm,
  'soundcloud': $soundcloud,
  'behance': $behance,
  'envato': $envato,
  'medium': $medium,
  'spotify': $spotify,
  'quora': $quora,
  'xing': $xing,
  'snapchat': $snapchat,
  'telegram': $telegram,
  'whatsapp': $whatsapp,
  'rss': $rss,
) !default;
