// Variables for shared
// All the variables defined by us, not any third-party framework
@use 'sass:math';

$enable-rtl: false;

// [ FONTS ]
$font-family-handwritten: 'Caveat', cursive !default;

// [ Updated to Bootstrap 4 fix ]
$grid-float-breakpoint: md !default;
$grid-float-breakpoint-max: sm !default;

$padding-default: 60px !default;

// [ SIZES ]
// fonts
$font-size-tiny: $font-size-base * 0.45 !default;
$font-size-small: $font-size-base * 0.85 !default;
$font-size-regular: $font-size-base !default;
$font-size-medium: $font-size-base * 2 !default;
$font-size-large: $font-size-base * 3.25 !default;
$font-size-extra-large: $font-size-base * 4.5 !default;
$font-size-xx-large: $font-size-base * 6.5 !default;
$font-size-section-heading: 2.875rem !default;

// Overlay

$overlay-color: $gray-800 !default;
$overlay-rgba: 0.6 !default;

// Box shadows

$box-shadow-primary: 0 0.5rem 1.125rem -0.5rem rgba($primary, 0.9) !default;
$box-shadow-secondary: 0 0.5rem 1.125rem -0.5rem rgba($gray-900, 0.15) !default;
$box-shadow-success: 0 0.5rem 1.125rem -0.5rem rgba($success, 0.9) !default;
$box-shadow-info: 0 0.5rem 1.125rem -0.5rem rgba($info, 0.9) !default;
$box-shadow-warning: 0 0.5rem 1.125rem -0.5rem rgba($warning, 0.9) !default;
$box-shadow-danger: 0 0.5rem 1.125rem -0.5rem rgba($danger, 0.9) !default;
$box-shadow-dark: 0 0.5rem 1.125rem -0.5rem rgba($dark, 0.9) !default;

// Devices

$jacks-bg-color: #e3e8eb !default;

$browser-action-color-1: #f44 !default;
$browser-action-color-2: #9b3 !default;
$browser-action-color-3: #fb5 !default;
$browser-action-size: 0.5em !default;
$iphone-bg-color: $white !default;

// design for iphone-x
$x-scaling: 0.65 !default;
$x-border-width: 15px * $x-scaling !default;
$x-phone-width: 375px * $x-scaling !default;
$x-border-radius: 40px * $x-scaling !default;
$x-notch-width: 209px * $x-scaling !default;
$x-notch-height: 35px * $x-scaling !default;
$x-notch-border-radius: 20px * $x-scaling !default;
$x-dark-bg: $gray-800 !default; //#152975;
$x-light-bg: $gray-200 !default; //#f2f2f5;

// speech bubbles
$speech-bg-color: $color-primary !default;
$speech-text-color: $white !default;

// navs
$nav-color-process: $color-primary !default;
$nav-process-dot-size: 0.375rem !default;
$nav-process-circle-link-color: $white !default;

$nav-tab-active-border-color: $color-primary !default;

// navbar

$navbar-header-height: 70px !default;

// Breadcrumbs

$breadcrumb-font-weight: $font-weight-semibold !default;
