.smart-business-header {
  .background-shape {
    &-top,
    &-left,
    &-right {
      z-index: 1;
      opacity: 0.2;
    }

    &-top {
      top: 0;
      background-image: linear-gradient(-57deg, $indigo-300 0%, $indigo 100%);
      transform: rotate(30deg) translate3D(-45%, -45%, 0);
      max-height: 560px;
    }

    &-right {
      background-image: linear-gradient(-57deg, $indigo-300 0%, $indigo 100%);
      left: 93%;
    }

    &-main {
      z-index: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      transform: translate(80%, -30%) rotate(-35deg);
      background-image: linear-gradient(
        45deg,
        $color-primary 40%,
        $color-secondary 100%
      );

      @include media-breakpoint-up(md) {
        height: 150%;
        transform: translate(25%, -50%) skewY(30deg);
      }

      @include media-breakpoint-up(lg) {
        transform: translate(20%, -30%) skewY(30deg);
      }

      @include media-breakpoint-up(xl) {
        transform: translate(30%, -12%) skewY(30deg);
      }
    }
  }

  .hero-wrapper {
    position: relative;
    z-index: 2;
    width: 60%;

    @include media-breakpoint-down(md) {
      @include center(x, relative);
    }

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      @include center(y);
      right: 0;
      width: 40%;
    }

    @include media-breakpoint-up(xl) {
      // translateY is needed to not override transform from lower resolutions and keep the shape centered
      transform: translateY(-50%) scale(0.75);
    }
  }

  .anim {
    position: absolute;
    width: 15%;
    max-width: 80px;

    &.anim-1 {
      top: 56%;
      right: 5%;
      animation-duration: 3.4s;
    }

    &.anim-2 {
      top: 10%;
      right: 58%;
    }

    &.anim-3 {
      top: 33%;
      right: 22%;
      animation-duration: 3.8s;
    }
  }
}
