.scroll-to-top {
  position: fixed;
  z-index: 9000;
  bottom: 2rem;
  right: 2rem;
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.26, 1.5), opacity 0.3s;

  &.to-top-visible {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  @include media-breakpoint-between(md, xl) {
    bottom: 5rem;
  }
}
