.safety-first {
  .shape {
    position: absolute;

    &-triangle {
      left: 0;
      top: 0;
      transform: translate(-60%, -90%) rotate(40deg);
      transition: all 0.3s ease;

      div {
        @include triangle-variant(80px, $color-primary, $color-primary);

        @include media-breakpoint-up(sm) {
          @include triangle-variant(150px, $color-primary, $color-primary);
        }

        @include media-breakpoint-up($grid-float-breakpoint) {
          @include triangle-variant(250px, $color-primary, $color-primary);
        }
      }

      @include media-breakpoint-up(sm) {
        transform: translate(-50%, -40%) rotate(65deg);
      }

      @include media-breakpoint-up($grid-float-breakpoint) {
        transform: translate(50%, -15%) rotate(65deg);
      }

      @include media-breakpoint-up(lg) {
        left: 5%;
        transform: translate(100%, -15%) rotate(65deg);
      }
    }

    &-circle {
      right: 5%;
      top: 65%;

      div {
        @include circle-variant(100px, $safety-circle-bg-color);
      }

      @include media-breakpoint-up($grid-float-breakpoint) {
        right: 15%;
        top: 5%;
      }
    }

    &-ring {
      left: 0;
      top: 25%;
      transform: translate3d(10%, -35%, 0);

      div {
        opacity: 0.15;
        @include ring-variant(330px, 75px, $safety-ring-bg-color);
      }
    }

    &.pattern {
      &-dots {
        bottom: 0;
        left: 25%;
        width: 200px;
        height: 50%;
        @include pattern-dots(3px, 30px, $safety-dots-bg-color);
      }
    }
  }
}
