@use 'sass:math';

/* 6.1 General styles ======================================================= */
.main {
  overflow-x: hidden;
}

section,
.section {
  position: relative;

  [class^='container'] {
    padding-top: math.div($section-padding, 2);
    padding-bottom: math.div($section-padding, 2);
    position: relative;

    &.bring-to-front {
      z-index: 9;
    }

    @include media-breakpoint-up($grid-float-breakpoint) {
      padding-top: $section-padding;
      padding-bottom: $section-padding;
    }
  }

  .container-wide {
    overflow-x: hidden;

    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  &.shadow {
    z-index: 1;
  }
}

.section-heading {
  margin-bottom: $padding-default;
  position: relative;

  h2 {
    margin-top: 0;
    font-weight: $font-weight-normal;
    font-size: $font-size-section-heading;
  }

  p {
    font-weight: $font-weight-light;
  }
}
